.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yalForm {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    background-color: rgb(230, 255, 247);
    padding: 40px;
    border-radius: 8px;
}

.mainInfo input{
    margin: 10px;
    height: 48px;
    width: 256px;
    border-radius: 8px;
    border: solid skyblue;
}

#sign {
    width: 20px;
    height: 20px;
}

button {
    background-color: skyblue;
    border-radius: 8px;
    border-width: 3px;
    border-color: green;
    height: 48px;
    font-size: 24px;
}